:root {
    --blue: #10497e;
    --beige: #faf0ca;
    --yellow: #f4d35e;
    --orange: #ee964b;
    --brown: #8a1b05;
}

body {
    margin: 0;
    padding: 0;
}

.container-page-reports {
    background-color: #8A1B05;
    min-height: 100vh;
    height: fit-content;
    width: 100%;
}

.select-filters {
    display: flex;
    position: fixed;
    align-items: center;
    height: 5vh;
    min-height: fit-content;
    width: 100%;
    background-color: #faf0ca;
    color: white;
    box-shadow: 0 1px 2px rgba(0,0,0,0.07), 
                0 2px 4px rgba(0,0,0,0.07), 
                0 4px 8px rgba(0,0,0,0.07), 
                0 8px 16px rgba(0,0,0,0.07),
                0 16px 32px rgba(0,0,0,0.07), 
                0 32px 64px rgba(0,0,0,0.07);
    z-index: 3;
}

.space-between {
    margin-left: 2%;
    width: 96%;
    display: flex;
    justify-content: center;
}

.hide-bar {
    height: 7vh;
    background-color: #8A1B05;
}

#reports {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #8A1B05;
}

.inner-report {
    display: flex;
    border-radius: 5px;
    flex-direction: column;
    align-items: center;
    background-color: #F4D35E;
    padding: 20px 20px 20px 20px;
    margin: 10px 10px 10px 10px;
}

.info-user {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0px 0px 10px 0px;
    height: 6vh;
    width: 100%;
}

.img-ctn {
    height: 5vh;
    margin-inline: 20px;
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: white;
}

.img-ctn img {
    height: 100%;
    width: 100%;
}

.cointainerUR {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.username {
    color: black;
    font-weight: 900;
}

.rank {
    text-decoration: underline !important;
}

.title {
    align-self: flex-end;
    font-weight: 900;
    margin: .5%;
}

.text-ctn {
    border-radius: 5px;
    margin-left: 5%;
    width: 90%;
    border: 1px solid black;
    padding: 7px 7px 7px 7px;
    align-self: flex-start;
    background-color: #faf0ca;
}

.icons-post {
    align-self: flex-end;
    display: inline-flex;
}

.comment-reports {
    padding: 2px 2px 2px 2px;
}

@media screen and (max-width: 900px) {
    .order,
    .sort,
    .nbr-likes,
    .date-creation {
        font-size: 3vw;
    }
    .select-filters {
        height: 6vh;
    }
    .hide-bar {
        height: 8vh;
    }
}

@media screen and (max-width: 500px) {
    .select-filters {
        height: 7vh;
    }
    .hide-bar {
        height: 8vh;
    }
    .new-post {
        display: none;
    }
    .cruz {
        display: block;
    }
}


/* pagination */

.display-pages {
    display: flex;
    align-self: center;
}

.hide {
    display: none;
    visibility: hidden;
    height: 0;
}

.pagination\:container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.arrow\:text {
    display: block;
    font-size: 13px;
}

.pagination\:number {
    --size: 30px;
    --margin: 6px;
    margin: 0 var(--margin);
    border-radius: 6px;
    background: #F4D35E;
    max-width: auto;
    min-width: var(--size);
    height: var(--size);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 0 6px;
}

@media (hover: hover) {
    .pagination\:number:hover {
        background: #faf0ca;
    }
}

.pagination\:number:active {
    background: #faf0ca;
}

.pagination\:active {
    background: #faf0ca;
    position: relative;
    z-index: 1;
}

/* searchbar */

.search {
    display: flex;
    width: 400px;
    height: 30px;
}

.searchTerm {
    min-width: fit-content;
    width: 400px;
    border: 2px solid #8A1B05;
    background-color: transparent;
    border-right: none;
    padding: 5px;
    height: 100%;
    border-radius: 5px 0 0 5px;
    outline: none;
}

.searchTerm::placeholder {
    color: black;
}

@media screen and (max-width: 1000px) {
    .searchTerm {
        width: 200px;
    }
}

@media screen and (max-width: 700px) {
    .searchTerm {
        min-width: 100px;
        width: 100px;
    }
}

.searchButton {
    width: 40px;
    height: 100%;
    border: 1px solid #8A1B05;
    background: #8A1B05;
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
}ll-post


/*Resize the wrap to see the search bar change!*/

.wrap {
    width: 20%;
}

.form-control {
    display: flex;
    flex-direction: row;
    align-items: center;
    /* justify-content: center; */
}

.form-control label {
    padding-left: 30px;
}

input[type="radio"] {
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff;
    margin-right: 10px;
    font: inherit;
    color: currentColor;
    width: 1em;
    height: 1em;
    border: 0.15em solid currentColor;
    border-radius: 50%;
    transform: translateY(-0.075em);
}

.form-control + .form-control {
    margin-top: 1em;
}

input[type="radio"] {
    /* ...existing styles */
    display: grid;
    place-content: center;
}
  
input[type="radio"]::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    border-radius: 50%;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em #8A1B05;
}
  
input[type="radio"]:checked::before {
    transform: scale(1);
}