.containertest{
    width: 100%;
    height: 120vh;
}

.container-page-posts {
    background-color: #8A1B05;
    min-height: 100vh;
    height: fit-content;
    width: 100%;
}

.select-filters {
    background-color: #faf0ca;
    width: 100%;
    height: 5vh;
    min-height: fit-content;
    color: white;
    position: fixed;
    display: flex;
    align-items: center;
    z-index: 3;
}

.space-between {
    margin-left: 2%;
    width: 96%;
    display: flex;
    justify-content: space-between;
}

.filter-toggler {
    padding: 5px 10px 5px 10px;
    height: fit-content;
    align-self: center;
    background-color: #f4e5ac;
    border: 0px;
    border-radius: 5px;
    transition: .2s linear;
    margin-left: 5px;
}

.cruz {
    display: none;
}

.filter-toggler:hover {
    background-color: #faf0ca;
}

.filters-container {
    padding: 60px 20px 20px 20px;
    background-color: #10497e;
    color: #faf0ca;
    position: absolute;
    left: -100%;
    width: 30%;
    min-width: 200px;
    height: 100%;
    box-shadow: 0 1px 2px rgba(0,0,0,0.07), 
                0 2px 4px rgba(19, 11, 11, 0.07), 
                0 4px 8px rgba(0,0,0,0.07), 
                0 8px 16px rgba(0,0,0,0.07),
                0 16px 32px rgba(0,0,0,0.07), 
                0 32px 64px rgba(0,0,0,0.07);
    z-index: 2;
}

.filters-container.open {
    left: 0;
}

.nbr-coms, .nbr-likes, .date-creation{
    padding-left: 10px;
    font-size: 1.3rem;
    margin-bottom: 2vh;
}

/* tags */

:root {
    --red:#ff3860;--red-dark:#ff1443;--red-light:#ff5c7c;--blue:#498afb;--blue-dark:#2674fa;--blue-light:#6ca0fc;--orange:#fa8142;--orange-dark:#f96a1f;--orange-light:#fb9865;--green:#09c372;--green-dark:#07a15e;--green-light:#0be586;--purple:#9166cc;--purple-dark:#7d4bc3;--purple-light:#a481d5;--yellow:#ffdd57;--yellow-dark:#ffd633;--yellow-light:#ffe47a;--pink:#ff4088;--pink-dark:#ff1c72;--pink-light:#ff649e;--gray0:#f8f8f8;--gray1:#dbe1e8;--gray2:#b2becd;--gray3:#6c7983;--gray4:#454e56;--gray5:#2a2e35;--gray6:#12181b;--nav-width:4em;--font-body:"sofia-pro",sans-serif;--font-head:"sofia-pro",sans-serif;--font-code:"attribute-mono",monospace;--font-size:20px;--max-width-bp:768px;--orange-pink:linear-gradient(to bottom right,var(--orange-light),var(--orange-dark) 85%);--green-grad:linear-gradient(to bottom right,var(--green-light),var(--green-dark) 85%);--background:var(--gray6);--text-color:var(--gray2);--h-color:#fff;--nav-shadow:4px 0 10px -3px #010101;--card-shadow:0 4px 8px rgba(0,0,0,0.38);--toc-shadow:rgba(0,0,0,0.7) 0px 10px 20px 0px;--nav-bg:var(--gray5);--tag-bg:var(--gray4);--code-bg:#22262f;--card-bg:var(--gray5);--overlay-bg:rgba(0,0,0,0.9);--h-border:2px dashed var(--nav-bg);--nav-border:2px dashed var(--text-color);--card-radius:0.25em;transition: all .3s ease
}

.tag {
    display: inline-block;
    border-radius: 3px;
    padding: .2em .5em .3em;
    border-radius: 2px;
    background: #faf0ca;
    color: black;
    font-weight: 600;
    margin: .25em .1em
}

.tag.choosed {
    background: #09c372;
}

.tags-create-post.choosed {
    background: #09c372;
}

.tag-sm {
    font-size: .7em;
    display: inline-block;
    letter-spacing: .15ch;
    font-weight: 400
}

.tag-lg {
    font-size: 1.2em;
    border-radius: 4px
}

.hide-bar {
    height: 7vh;
    background-color: #8A1B05;
}

#post {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #8A1B05;
}

.inner-post {
    display: flex;
    border-radius: 5px;
    flex-direction: column;
    align-items: center;
    background-color: #F4D35E;
    padding: 20px 20px 20px 20px;
    margin: 10px 10px 10px 10px;
}

.info-user {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0px 0px 10px 0px;
    height: 6vh;
    width: 100%;
}

.img-ctn {
    height: 5vh;
    margin-inline: 20px;
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: white;
}

.img-ctn img {
    height: 100%;
    width: 100%;
}

.username {
    color: black;
    font-weight: 900;
}

.text-ctn {
    border-radius: 5px;
    border: 1px solid black;
    padding: 7px 7px 7px 7px;
    background-color: #faf0ca;
}

.icons-post {
    align-self: flex-end;
}

.comment-posts {
    padding: 2px 2px 2px 2px;
}

@media screen and (max-width: 900px){
    .nbr-coms, .nbr-likes, .date-creation {
        font-size: 3vw;
    }

    .select-filters {
        height: 6vh;
    }

    .hide-bar {
        height: 8vh;
    }
}

@media screen and (max-width: 500px) {
    .select-filters {
        height: 7vh;
    }

    .hide-bar {
        height: 8vh;
    }

    .new-post {
        display: none;
    }

    .cruz {
        display: block;
    }

}

/* pagination */

.display-pages {
    display: flex;
    align-self: center;
}

.hide {
    display: none;
    visibility: hidden;
    height: 0;
}
.pagination\:container {
    display: flex;
    align-items: center;
    justify-content: center;
}
.arrow\:text {
    display: block;
    font-size: 13px;
}
.pagination\:number {
    --size: 30px;
    --margin: 6px;
    margin: 0 var(--margin);
    border-radius: 6px;
    background: #F4D35E;
    max-width: auto;
    min-width: var(--size);
    height: var(--size);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 0 6px;
}
@media (hover: hover) {
    .pagination\:number:hover {
        background: #faf0ca;
   }
}
.pagination\:number:active {
    background: #faf0ca;
}
.pagination\:active {
    background: #faf0ca;
    position: relative;
    z-index: 1;
}

/* Searchbar */



/* end Searchbar */

.search {
    width: 300px;
    height: 30px;
    /* position: relative; */
    display: flex;
}

.searchTerm {
    min-width: fit-content;
    width: 350px;
    border: 2px solid #8A1B05;
    background-color: transparent;
    border-right: none;
    padding: 5px;
    height: 100%;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #9DBFAF;
}

.searchTerm::placeholder {
    color: black;
}

.searchTerm:focus {
    color: #00B4CC;
}

@media screen and (max-width : 1000px) {
    .searchTerm {
        width: 200px;
    }
}

@media screen and (max-width : 700px) {
    .searchTerm {
        min-width: 100px;
        width: 100px;
    }
}

.searchButton {
    width: 40px;
    height: 100%;
    border: 1px solid #8A1B05;
    background: #8A1B05;
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
}

/*Resize the wrap to see the search bar change!*/
.wrap {
    width: 20%;
}