body {
    margin: 0;
    padding: 0;
}

#denver-parallax {
    background-color: #10497E;
}

.parallax .group {
    position: relative;
    min-height: 80vh;
    transform-style: preserve-3d;
}

.parallax .layer {
    position: absolute;
    width: 100%;
    overflow: hidden;
}

#city1 {
    fill: #8A1B05;
}

#mountain1 {
    fill: #8A1B05;
}

#mountain2 {
    fill: #F4D35E;
}

#mountain3 {
    fill: #F4D35E;
    height: 50vh;
}

#mountain4 {
    fill: #FAF0CA;
    height: 35vh;
}

#sun {
    fill: #ee964b;
    height: 25vh;
}

.city-front {
    position: relative;
    margin-top: -5px;
    background-color: #8A1B05;
    width: 100vw;
    min-height: 100%;
}

.site_name {
    color: #FAF0CA;
    width: 70%;
    height: 70%;
    text-align: center;
    margin-top: 10%;
    font-family: "Open Sans";
    font-size: 5vh;
}

.textExplain {
    display: flex;
    justify-content: center;
    margin-bottom: 20vh;
}

.redirect {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 80vh;
}

.box_index1 {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 45%;
    height: 60%;
    left: 10%;
    opacity: 0.9;
    background: #10497E;
}

.box_index2 {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20vh;
    position: absolute;
    right: 10%;
    width: 45%;
    height: 60%;
    opacity: 0.9;
    background: #F4D35E;
    z-index: 1;
}

.text_index {
    color: white;
    font-size: 4vh;
    font-family: "Open-Sans";
    width: 80%;
}


/* Button lancez-vous */

.button {
    float: left;
    max-width: 100%;
    display: block;
    margin: 1em;
    padding: 1em 2em;
    border: none;
    background-color: #FAF0CA;
    color: inherit;
    position: relative;
    z-index: 1;
    font-size: 3vh;
}

.button:focus {
    outline: none;
}

.button>span {
    vertical-align: middle;
}

.button--wayra {
    overflow: hidden;
    width: 50%;
    -webkit-transition: border-color 0.3s, color 0.3s;
    transition: border-color 0.3s, color 0.3s;
    -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
    transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}

.button--wayra::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 150%;
    height: 100%;
    background: #37474f;
    z-index: -1;
    -webkit-transform: rotate3d(0, 0, 1, -45deg) translate3d(0, -3em, 0);
    transform: rotate3d(0, 0, 1, -45deg) translate3d(0, -3em, 0);
    -webkit-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
    -webkit-transition: -webkit-transform 0.3s, opacity 0.3s, background-color 0.3s;
    transition: transform 0.3s, opacity 0.3s, background-color 0.3s;
}

.button--wayra:hover {
    color: #fff;
    border-color: #10497E;
}

.button--wayra.button--inverted:hover {
    color: #10497E;
    border-color: #fff;
}

.button--wayra:hover::before {
    opacity: 1;
    background-color: #F4D35E;
    -webkit-transform: rotate3d(0, 0, 1, 0deg);
    transform: rotate3d(0, 0, 1, 0deg);
    -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
    transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}

.button--wayra.button--inverted:hover::before {
    background-color: #fff;
}


/* button Decouvrez-nous */

.button2 {
    float: left;
    max-width: 100%;
    display: block;
    margin: 1em;
    padding: 1em 2em;
    border: none;
    background-color: #FAF0CA;
    color: inherit;
    position: relative;
    z-index: 1;
    font-size: 3vh;
}

.button2:focus {
    outline: none;
}

.button2>span {
    vertical-align: middle;
}

.button2--wayra {
    overflow: hidden;
    width: 50%;
    -webkit-transition: border-color 0.3s, color 0.3s;
    transition: border-color 0.3s, color 0.3s;
    -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
    transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}

.button2--wayra::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 150%;
    height: 100%;
    background: #37474f;
    z-index: -1;
    -webkit-transform: rotate3d(0, 0, 1, -45deg) translate3d(0, -3em, 0);
    transform: rotate3d(0, 0, 1, -45deg) translate3d(0, -3em, 0);
    -webkit-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
    -webkit-transition: -webkit-transform 0.3s, opacity 0.3s, background-color 0.3s;
    transition: transform 0.3s, opacity 0.3s, background-color 0.3s;
}

.button2--wayra:hover {
    color: #fff;
    border-color: #10497E;
}

.button2--wayra.button2--inverted:hover {
    color: #10497E;
    border-color: #fff;
}

.button2--wayra:hover::before {
    opacity: 1;
    background-color: #10497E;
    -webkit-transform: rotate3d(0, 0, 1, 0deg);
    transform: rotate3d(0, 0, 1, 0deg);
    -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
    transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}

.button2--wayra.button2--inverted:hover::before {
    background-color: #fff;
}


/* Titre */

.title-index {
    position: absolute;
    margin-top: 25%;
    width: 100%;
}

@keyframes cursor {
    from,
    to {
        border-color: transparent;
    }
    50% {
        border-color: #FAF0CA;
    }
}

@keyframes typing {
    from {
        width: 100%;
    }
    90%,
    to {
        width: 0;
    }
}

@keyframes slide {
    99.99999% {
        font-size: 5.5vw;
        letter-spacing: 3px;
        color: #FAF0CA;
    }
    to {
        font-size: 0;
        letter-spacing: 0;
    }
}

.typing-slider {
    font-family: Consolas, monospace;
    font-weight: bold;
    text-align: center;
    white-space: nowrap;
}

.typing-slider p {
    position: relative;
    display: inline;
    font-size: 0;
    text-transform: uppercase;
    letter-spacing: 0;
    animation: slide 15s step-start infinite;
}

.typing-slider p::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    border-left: 3px solid #F4D35E;
    background-color: #8A1B05;
    animation: typing 5s infinite, cursor 1s infinite;
}

.typing-slider p:nth-child(1) {
    animation-delay: 0s;
}

.typing-slider p:nth-child(1)::after {
    animation-delay: 0s;
    animation-timing-function: steps(22), step-end;
}


/* media */

@media screen and (max-width: 600px) {
    .redirect {
        height: 100vh;
    }
    .site_name {
        font-size: 5vw;
    }
    .textExplain {
        margin-bottom: 10vh;
    }
    .button {
        font-size: 3vw;
    }
    .button2 {
        font-size: 3vw;
    }
    .button--wayra {
        margin-top: 20%;
        width: 60%;
    }
    .text_index {
        font-size: 5vw;
    }
    .box_index1 {
        height: 45%;
    }
    .box_index2 {
        margin-top: 40vh;
        height: 45%;
    }
}