<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="../static/headFoot.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css" integrity="sha512-xA6Hp6oezhjd6LiLZynuukm80f8BoZ3OpcEYaqKoCV3HKQDrYjDE1Gu8ocxgxoXmwmSzM4iqPvCsOkQNiu41GA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=*, initial-scale=1.0">
    <title>Tuc'rack</title>
</head>

<body>
    
    {{template "header"}}
    <section class="global">
        <div class="title-index">
            <div class="typing-slider">
                <p>Bienvenue</p>
            </div>
            <div class="typing-slider">
                <p>sur</p>
            </div>
            <div class="typing-slider">
                <p>Tuc'rack</p>
            </div>
        </div>
        <div class="textExplain">
            <h2 class="site_name">Nous avons réalisé ce site dans le cadre de notre première année en informatique, qui a pour but de réaliser un forum. Nous avons décidé de réaliser un forum qui se baserai sur le partage de projets/code et ainsi permettre une entraîde inter-programmeurs(euses).</h2>
        </div>
        <div class="doubleCard">
            <div class="row">
                <div class="example-2 card">
                    <div class="wrapper">
                        <div class="data">
                            <div class="content">
                                <h1 class="title">Partagez votre projet</h1>
                                <p class="text">Recevez de l'aide d'une communauté large et impliquée.</p>
                                <a href="#" class="button">Read more</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="example-2 card">
                    <div class="wrapper">
                        <div class="data">
                            <div class="content">
                                <h1 class="title">Aidez d'autres programmeurs(euses)</h1>
                                <p class="text">Aidez sur une multitude de projets diverses et variés </p>
                                <a href="#" class="button">Read more</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {{template "footer"}}

</body>
<script src="../assets/js/headFoot.js"></script>

</html>