<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=*, initial-scale=1.0">
    
    <link href="/static/loginregister.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/headFoot.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css" integrity="sha512-xA6Hp6oezhjd6LiLZynuukm80f8BoZ3OpcEYaqKoCV3HKQDrYjDE1Gu8ocxgxoXmwmSzM4iqPvCsOkQNiu41GA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <title>Tuc'rack</title>
</head>

<body>
    {{template "header"}}
    <section class="user">
        <div class="user_options-container">
            <div class="user_options-text">
                <div class="user_options-unregistered">
                    <h2 class="user_unregistered-title">Don't have an account?</h2>
                    <p class="user_unregistered-text">Click below to jump to Sign Up menu.</p>
                    <button class="user_unregistered-signup" id="signup-button">Sign up</button>
                </div>

                <div class="user_options-registered">
                    <h2 class="user_registered-title">Have an account?</h2>
                    <p class="user_registered-text">Click below to jump to Log In menu.</p>
                    <button class="user_registered-login" id="login-button">Login</button>
                </div>
            </div>

            <div class="user_options-forms" id="user_options-forms">
                <div class="user_forms-login">
                    <h2 class="forms_title">Login</h2>
                    <p class="user_unregistered-text">Enter your informations to Log In.</p>
                    <form class="forms_form">
                        <div class="error_message">
                            <p></p>
                        </div>
                        <fieldset class="forms_fieldset">
                            <div class="forms_field">
                                <input id="pseudologin" type="text" placeholder="Pseudo" class="forms_field-input" onkeyup="checkEmptyInputsSignIn()" required autofocus />
                            </div>
                            <div class="forms_field">
                                <input id="passwordlogin" type="password" placeholder="Password" class="forms_field-input" onkeyup="checkEmptyInputsSignIn()" required />
                            </div>
                        </fieldset>
                        <div class="forms_buttons">
                            <button type="button" class="forms_buttons-forgot">Forgot password?</button>
                            <input id="signinBtn" type="button" value="Log In" class="forms_buttons-action" disabled="true" onclick="onLoginClick()">
                        </div>
                    </form>
                </div>
                <div class="user_forms-signup">
                    <h2 class="forms_title">Sign Up</h2>
                    <p class="user_unregistered-text">Enter new account informations.</p>
                    <form class="forms_form">
                        <div class="error_message">
                            <p></p>
                        </div>
                        <fieldset class="forms_fieldset">
                            <div class="forms_field">
                                <input id="pseudoregister" type="text" placeholder="Pseudo" class="forms_field-input" onkeyup="checkEmptyInputsSignUp()" required />
                            </div>
                            <div class="forms_field">
                                <input id="emailregister" type="email" placeholder="Email" class="forms_field-input" onkeyup="checkEmptyInputsSignUp()" required />
                            </div>
                            <div class="forms_field">
                                <input id="passwordregister" type="password" placeholder="Password" class="forms_field-input" onkeyup="checkEmptyInputsSignUp()" required />
                            </div>
                        </fieldset>
                        <div class="forms_buttons">
                            <input id="signupBtn" type="button" value="Sign up" class="forms_buttons-action" disabled="true" onclick="onRegisterClick()">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    {{template "footer"}}


    <!----------Designed By Pradeep Singh Tomar------------>

    <script type="text/javascript" src="/assets/js/loginregister.js"></script>
</body>

</html>