<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="../static/pageModifProfil.css">
    <link rel="stylesheet" href="../static/headFoot.css">
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css"
        integrity="sha512-xA6Hp6oezhjd6LiLZynuukm80f8BoZ3OpcEYaqKoCV3HKQDrYjDE1Gu8ocxgxoXmwmSzM4iqPvCsOkQNiu41GA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=*, initial-scale=1.0">
    <title>Tuc'rack</title>
</head>

<body>
    {{template "header"}}
    <section id="profile">
        <div class="imgContent">
            <div class="imgDiv">
            </div>
            <i class="fas fa-camera"></i>
        </div>
        <div class="conteneur">
            <div class="nameUsers">
                <!-- <h1>Amaury</h1> -->
                <div class="nameChange">
                    <input id="inputName">
                    <button id="newUsersName" onclick="getInfo()">Valider</button>
                </div>
                <i class="fab fa-linkedin" style="color: #faf0ca;"></i>
                <i class="fas fa-times" onclick="goNewUrl()" style="cursor: pointer; color: #faf0ca;"></i>
            </div>
            <div class="biography">
                <!-- <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Illum corporis cumque voluptate nam,
                    mollitia dolorum odio ipsam excepturi commodi possimus optio tempora atque dolores sint ratione
                    eaque est numquam aut.</p> -->
                <textarea
                    id="areaBiography">Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere eveniet doloribus reprehenderit natus, beatae, id sequi aperiam, eius ex deleniti debitis error totam necessitatibus commodi vel saepe! Reiciendis, suscipit deleniti?</textarea>
                <button id="newBio">Valider</button>
            </div>
        </div>
    </section>
    <section id="changeMdp">
        <input type="text" class="inputText" placeholder="Ancien mot de passe">
        <input type="text" class="inputText" placeholder="Nouveau mot de passe">
        <input type="text" class="inputText" placeholder="confirmer mot de passe">
        <button class="buttonValide">Valider</button>
    </section>
    <section id="changeEmail">
        <input type="text" class="inputText" placeholder="Ancienne adresse email">
        <input type="text" class="inputText" placeholder="Nouvelle adresse email">
        <input type="text" class="inputText" placeholder="confirmer adresse email">
        <button class="buttonValide">Valider</button>
    </section>
    {{template "footer"}}
</body>
<script type="text/javascript" src="/assets/js/updateProfil.js"></script>

</html>