<!DOCTYPE html>
<html lang="fr">

<head>
    <link rel="stylesheet" href="../static/posts.css">
    <link rel="stylesheet" href="../static/headFoot.css">

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=*, initial-scale=1.0">
    <link href="../static/singlePost.css" rel="stylesheet">
    <!-- <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" /> -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css" integrity="sha512-xA6Hp6oezhjd6LiLZynuukm80f8BoZ3OpcEYaqKoCV3HKQDrYjDE1Gu8ocxgxoXmwmSzM4iqPvCsOkQNiu41GA==" crossorigin="anonymous" referrerpolicy="no-referrer"
    />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <title>Tuc'rack</title>
</head>

<body>
    <div class="globale">
        {{template "header"}}
        <!-- <div class="header"> Header by Emile </div>  -->
        <div class="center">
            <div class="leftSpace"></div>
            <div class="displayPost">
                <div class="post">
                    <div class="userInfo">
                        <div class="PP" id="userPP"> </div>
                        <div class="username" id="userName"> </div>
                        <div class="postInfo">
                            <!-- <i class="far fa-heart"></i><i onclick="likePost('like')" class="fa fa-heart"></i> -->
                            <div class="displayLikesValue" id="like" data-like='true'> </div>
                            <div class="displayCommentsValue" id="com"> <i onclick="document.getElementById('comInput').focus()" class="fa fa-comments" aria-hidden="true"></i></div>
                        </div>
                    </div>
                    <div class="titleNtags">
                        <div class="title" id="postTitle"> </div>
                        <div class="tags" id="postTags"> </div>
                    </div>
                    <div class="postText" id="postContent">

                    </div>
                    <div class="edit"><i onclick="console.log('edit post')" class="fas fa-edit" style="display:none"></i></div>
                    <!-- afficher que si le post en de l'utilisateur connecté + faire la fonction d'édit -->
                </div>
                <div class="writeCom">
                    <div class="PP"></div>
                    <!-- ajouter la pp du user -->
                    <input type="text" name="comment" class="commentInput" placeholder="Écrivez votre réponse" id="comInput">
                    <button class="subitComment" id="subCom" onclick="validTextInput()"> Répondre </button>
                </div>
                <div class="comments" id="divCom">
                    <!-- <div class="oneComment">
                        <div class="PP"></div>
                        <div class="username"> Dr_DerpSkillls </div>
                        <div class="commentText">Je fait des tests pour le texte.</div>
                        <div class="trashcan"><i onclick="deletePost(this.id)" class="fa fa-trash-o" aria-hidden="true"></i></div>
                    </div> -->
                </div>
            </div>
            <div class="rightSpace"></div>
        </div>
        <!-- <div class="footer"> Footer by Emile </div> -->
        {{template "footer"}}
    </div>
    <script src="../assets/js/singlePost.js">
    </script>
</body>
<script src="../assets/js/headFoot.js"></script>

</html>