{{define "footer"}}

<footer class="footer">
    <div class="footer-top">
        <div class="footer-left">   
            <img src="../assets/images/musicrack.png" alt="">
        </div>
        <div class="vertical-row-top"></div>
        <ul class="footer-right">
            <div class="top-right">
                <a href="/">Accueil</a>
                <a href="/posts">Posts</a>
                <a href="mentions">Inscription/Connexion</a>
            </div>
        </ul>
    </div>
</footer>

{{end}}