{{define "footer"}}
<script type="module" src="../assets/js/searchbar.js"></script>

<footer class="footer">
    <div class="footer-top">
        <div class="footer-left">
            <img src="../assets/images/musicrack.png" alt="footerLogo">
        </div>
        <div class="vertical-row-top"></div>
        <ul class="footer-right">
            <div class="top-right">
                <a href="/">Accueil</a>
                <a href="/posts">Posts</a>
                <a href="/inscreg">Inscription/Connexion</a>
                <a href="/contact">Contact</a>
            </div>
        </ul>
    </div>
</footer>

{{end}}