{{define "footer"}}
<footer class="footer">
    <div class="footer-top">
        <div class="footer-left">
            <img src="../assets/images/Fichier 1.svg" alt="footerLogo">
        </div>
        <div class="vertical-row-top"></div>
        <ul class="footer-right">
            <div class="top-right">
                <a href="/">Accueil</a>
                <a href="/posts">Posts</a>
                <a href="/users">Utilisateurs</a>
                <a href="/contact">Notre équipe</a>
                <a class="profil" href="/loginregister">Inscription/Connexion</a>
            </div>
        </ul>
    </div>
</footer>

{{end}}