{{define "header"}}

<nav class="navbar-tc">
    <div class="inner-nav">
        <button class="menu-toggler">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </button>
        <a href="/" class="nav-title">TUC'rack</a>
        <div class="navbar-menu">
            <a id="accueil" href="/">ACCUEIL</a>
            <a id="posts" href="/posts">POSTS</a>
            <a href="/loginregister">INSCR/CO.</a>
            <a href="/contact">A PROPOS</a>
            <img src="../assets/images/musicrack.png" class="logo">
            <div class="block-between"></div>
        </div>
    </div>
</nav>

{{end}}