{{define "previewPost"}}

<section id="post">
    <div class="inner-post">
        <div class="info-user">
            <div class="img-ctn"></div>
            <div class="username">CAYO PERICO</div>
            <div class="title">TITLE</div>
        </div>
        <div class="text-ctn">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius officiis eligendi voluptates earum, mollitia blanditiis quibusdam placeat minima nostrum modi ut id cupiditate incidunt! Praesentium, consequatur aperiam? Maiores, commodi obcaecati!</p>
        </div>
        <div class="icons-post">
            <i class="comment-posts fa fa-heart"></i>
            <i class="comment-posts fa fa-comments"></i>
        </div>
    </div>
</section>

{{end}}