{{define "previewPost"}}

<section id="post">
    <div class="inner-post">
        <div class="info-user">
            <div class="img-ctn"></div>
            <div class="username">CAYO PERICO</div>
        </div>
        <div class="text-ctn">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius officiis eligendi voluptates earum, mollitia blanditiis quibusdam placeat minima nostrum modi ut id cupiditate incidunt! Praesentium, consequatur aperiam? Maiores, commodi obcaecati!</p>
        </div>
        <i class="comment-post fa fa-heart-o" aria-hidden="true"></i>
        <i class="comment-post fa fa-comments" aria-hidden="true"></i>
    </div>
</section>

{{end}}