{{define "previewUser"}}
<button class="user">
    <div class="top-user">
        <img class="userIcon" src="https://upload.wikimedia.org/wikipedia/commons/9/99/Sample_User_Icon.png">
        <div class="userInfo">
            <div class="pseudo">Pseudo</div>
            <div class="regDate">regDate</div>
        </div>
    </div>
    <div class="biography">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Odio provident omnis porro consequatur molestiae harum quod quasi ratione? Error, aliquam. Molestiae minima minus exercitationem sed fugit. Vitae praesentium sed totam!</div>
</button>
{{end}}