{{define "previewUser"}}
<a href="/posts" id="user" class="user-total">
    <div class="top-user">
        <div class="img-container">
            <img class="userIcon" src="https://upload.wikimedia.org/wikipedia/commons/9/99/Sample_User_Icon.png">
        </div>
        <div class="userInfo">
            <div class="pseudo">Pseudo</div>
            <div class="regDate">regDate</div>
        </div>
    </div>
    <div class="biography">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Odio provident omnis porro consequatur molestiae harum quod quasi ratione? Error, aliquam. Molestiae minima minus exercitationem sed fugit. Vitae praesentium sed totam!</div>
</a>
{{end}}